div(class='card m-1 p-0 d-inline-block w-100')
  div.card-header
    h3.card-title #{cardTitle}
  div.card-body.ml-0
    table(class='table table-sm')
      tbody
        each event in events
          if event.now
            tr.font-weight-bold.shift-item
              td #{event.room}
              td.d-inline-block.text-truncate #{event.title}
              td.time-width #{event.bookStart}
              td.time-width #{event.eventStart}
              td.time-width #{event.eventEnd}
              td.time-width #{event.bookEnd}
          else
            tr.shift-item
              td #{event.room}
              td.d-inline-block.text-truncate #{event.title}
              td.time-width #{event.bookStart}
              td.time-width #{event.eventStart}
              td.time-width #{event.eventEnd}
              td.time-width #{event.bookEnd}