div(class='card mx-0 p-0 mx-lg-2 d-inline-block w-100 laborCard')
  div.card-header.mx-lg-2
    h4.card-title #{cardTitle}
  div.card-body.mx-lg-4.pt-0
    table(class='table table-sm')
      tbody
        each shift in shifts
          if shift.now
            tr.fw-bold.shift-item-sm
              if shift.customIconText
                td #{shift.customIconText}
              td #{shift.personName}
              td #{shift.locationName}
              td #{shift.inTime}
              td #{shift.outTime}
          else
            tr.shift-item-sm
              if shift.customIconText
                td #{shift.customIconText}
              td #{shift.personName}
              td #{shift.locationName}
              td #{shift.inTime}
              td #{shift.outTime}